<template>
  <v-container>
    <v-row>
      <v-col cols="12">

        <v-card class="elevation-0 transparent">
          <v-row justify="space-around">

            <v-col cols="12" md="6" lg="8" xl="8">
              <v-card>
                <v-card-text>
                  Unidades completadas
                  <v-progress-linear
                    v-model="knowledge"
                    height="15"
                    rounded
                  >
                    <strong>{{ Math.ceil(knowledge) }}%</strong>
                  </v-progress-linear>
                </v-card-text>
                <v-card-text>
                  Clases de repaso
                  <v-progress-linear
                    v-model="knowledge2"
                    height="15"
                    rounded
                    color="yellow"
                  >
                    <strong>{{ Math.ceil(knowledge2) }}%</strong>
                  </v-progress-linear>
                </v-card-text>
              </v-card>

              <v-card class="mt-12 elevation-4" :to="{name: 'MenuLeccion'}">
                <v-row>
                  <v-col cols="12" class="d-flex align-center pl-6">
                    <v-avatar
                      size="100"
                      color="primary"
                      rounded
                      class="elevation-0"
                    >
                      <v-img
                        height="150"
                        src="https://i.ytimg.com/vi/bYOjmW-740M/maxresdefault.jpg"
                      ></v-img>
                    </v-avatar>

                    <div class="ms-3">
                      <p class="text-xs mb-0 text-caption">
                        Unidad 25
                      </p>
                      <h4 class="text-xl font-weight-semibold">
                        Cómo hablar de la familia
                      </h4>
                      <p class="mb-0 text-caption">
                        TO HAVE en afirmativo
                      </p>

                      <p class="mb-0 text-caption">
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small>mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small>mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small>mdi-check-circle</v-icon>
                      </p>

                    </div>
                  </v-col>
                </v-row>
              </v-card>

              <v-card class="mt-12 elevation-4">
                <v-row>
                  <v-col cols="12" class="d-flex align-center pl-6">
                    <v-avatar
                      size="100"
                      color="primary"
                      rounded
                      class="elevation-0"
                    >
                      <v-img
                        height="150"
                        src="https://i.ytimg.com/vi/bYOjmW-740M/maxresdefault.jpg"
                      ></v-img>
                    </v-avatar>

                    <div class="ms-3">
                      <p class="text-xs mb-0 text-caption">
                        Unidad 25
                      </p>
                      <h4 class="text-xl font-weight-semibold">
                        Cómo hablar de la familia
                      </h4>
                      <p class="mb-0 text-caption">
                        TO HAVE en afirmativo
                      </p>

                      <p class="mb-0 text-caption">
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small>mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small>mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small>mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small>mdi-check-circle</v-icon>
                      </p>

                    </div>
                  </v-col>
                </v-row>
              </v-card>

              <v-card class="mt-12 elevation-4">
                <v-row>
                  <v-col cols="12" class="d-flex align-center pl-6">
                    <v-avatar
                      size="100"
                      color="primary"
                      rounded
                      class="elevation-0"
                    >
                      <v-img
                        height="150"
                        src="https://i.ytimg.com/vi/bYOjmW-740M/maxresdefault.jpg"
                      ></v-img>
                    </v-avatar>

                    <div class="ms-3">
                      <p class="text-xs mb-0 text-caption">
                        Unidad 25
                      </p>
                      <h4 class="text-xl font-weight-semibold">
                        Cómo hablar de la familia
                      </h4>
                      <p class="mb-0 text-caption">
                        TO HAVE en afirmativo
                      </p>

                      <p class="mb-0 text-caption">
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small color="primary">mdi-check-circle</v-icon>
                        <v-icon class="mr-3" small>mdi-check-circle</v-icon>
                      </p>

                    </div>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>      
</template>
<script>
  export default {
    data: () => ({
      skill: 20,
      knowledge: 33,
      knowledge2: 10,
      power: 78,
    }),
  }
</script>