<template>
  <v-container fill-height>
    <v-row>
    	<v-col cols="12">
        <v-card class="elevation-0">
          <v-progress-linear
            v-model="knowledge"
            height="10"
            rounded
          >
          </v-progress-linear>
        </v-card>
      </v-col>

      <v-col cols="12">
        <v-card class="elevation-0 transparent">
        	<v-card-actions>
        	  <v-spacer></v-spacer>
        	  <v-btn color="primary" fab @click="escuchar = false, grabar = true"><v-icon>mdi-volume-high</v-icon></v-btn>
        	  <v-spacer></v-spacer>
        	</v-card-actions>


        	<v-card-text>
        	  <v-text-field
        	    name="name"
        	    label="Escribe aquí el texto que escuchas"
        	    id="id"
        	    filled
        	  ></v-text-field>
        	</v-card-text>

        	<v-card-actions>
        	  <v-spacer></v-spacer>
        	  <v-btn color="primary" rounded @click="escuchar = false, grabar = true">Comparar</v-btn>
        	  <v-spacer></v-spacer>
        	</v-card-actions>

        </v-card>
      </v-col>
    </v-row>
  </v-container>      
</template>
<script>
  export default {
    data: () => ({
      skill: 20,
      knowledge: 33,
      knowledge2: 10,
      power: 78,

      grabar: false,
      escuchar: true,
      comparar: false
    }),
  }
</script>