<template>
  <v-container>
    <v-row>
      <v-col cols="12">

        <v-card class="elevation-0 transparent">
          <v-row justify="space-around">

            <v-col cols="12">
              <v-card class="elevation-0">
                <v-progress-linear
                  v-model="knowledge"
                  height="10"
                  rounded
                >
                </v-progress-linear>
              </v-card>

              <v-card class="mt-12 elevation-4" :to="{name: 'MenuLeccion'}" min-height="400">
              	<v-container fill-height>
	                <v-row justify="center">
	                  <v-col cols="12">
	                    <div class="ms-3">
	                      <p class="text-xs mb-0 text-caption">
	                        Unidad 25
	                      </p>
	                      <h4 class="text-xl font-weight-semibold">
	                        Cómo hablar de la familia
	                      </h4>
	                      <p class="mb-0 text-caption">
	                        TO HAVE en afirmativo
	                      </p>
	                    </div>
	                  </v-col>
	                </v-row>
              	</v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>

      <v-col cols="12">

        <v-card class="elevation-0 transparent">
        	<v-card-actions v-if="escuchar">
        	  <v-spacer></v-spacer>
        	  <v-btn color="primary" fab @click="escuchar = false, grabar = true"><v-icon>mdi-volume-high</v-icon></v-btn>
        	  <v-spacer></v-spacer>
        	</v-card-actions>


        	<v-card-actions v-if="grabar">
        	  <v-btn color="white" fab ><v-icon color="primary">mdi-volume-high</v-icon></v-btn>
        	  <v-spacer></v-spacer>
        	  <v-btn color="white" fab @click="grabar = false, comparar = true"><v-icon color="red">mdi-record</v-icon></v-btn>
        	  <v-spacer></v-spacer>
        	</v-card-actions>

        	<v-card-actions v-if="comparar">
        	  <v-btn color="white" fab ><v-icon color="primary">mdi-arrow-left-thick</v-icon></v-btn>
        	  <v-spacer></v-spacer>
        	  <v-btn color="primary" fab @click="comparar = true"><v-icon color="white">mdi-arrow-right-thick</v-icon></v-btn>
        	  <v-spacer></v-spacer>
        	  <v-btn color="white" fab @click="comparar = true"><v-icon color="red">mdi-arrow-left-right</v-icon></v-btn>
        	</v-card-actions>

        </v-card>
      </v-col>
    </v-row>
  </v-container>      
</template>
<script>
  export default {
    data: () => ({
      skill: 20,
      knowledge: 33,
      knowledge2: 10,
      power: 78,

      grabar: false,
      escuchar: true,
      comparar: false
    }),
  }
</script>