<template>
  <v-container fill-height>
    <v-row>
      <v-col cols="12" v-if="!chat">
        <v-card class="elevation-0 transparent">
        	<v-card-title primary-title>
        		<v-spacer></v-spacer>
        	  ¿A quién vas a interpretar?
        		<v-spacer></v-spacer>
        	</v-card-title>


        	<v-card-text class="text-center">
        	  Leerás su texto en voz alta y simularás una conversación real. Después, podrás escucharte
        	</v-card-text>

        	<v-card-actions>
        	  <v-spacer></v-spacer>
        		<v-card class="elevation-0" @click="chat = true">
	        	  <v-avatar size="80" >
					      <img
					        src="https://cdn.vuetifyjs.com/images/john.jpg"
					        alt="John"
					        @click="chat = true"
					      >
					    </v-avatar>
        	  </v-card>
        	  <v-spacer></v-spacer>
        	  <v-card class="elevation-0" @click="chat = true">
	        	  <v-avatar size="80" >
					      <img
					        src="https://cdn.vuetifyjs.com/images/john.jpg"
					        alt="John"
					        @click="chat = true"
					      >
					    </v-avatar>
        	  </v-card>
        	  <v-spacer></v-spacer>
        	</v-card-actions>

        </v-card>
      </v-col>

      <v-col cols="12" v-if="chat">
        <v-card class="elevation-0 transparent">
        	<v-scroll-y-transition mode="out-in">
            <div :style="`height: ${tamanioPantalla + 120 }px; overflow: auto; width:98%`" id="chat">
              <!-- Ver las preguntas que realizó el usuario -->
              <v-card-text class="px-0" >
                <!-- Div con tamaño de la pantalla -->
                <div :style="`max-height: ${tamanioPantalla}px; height: ${tamanioPantalla}px; overflow: auto;`" id="preguntas">
                  <!-- Recorremos las preguntas filtradas -->
                  <span >

                    <!-- Pregunta del usuario -->
                    <v-row>
                      <v-col cols="12">
                        <v-card class="ml-6 px-3 pt-3 mt-2" max-width="600" color="#f2f2f2" style="border-radius: 15px; border-top-left-radius: 0; color: '##111b21';">
                          <!-- Pregunta del usuario -->
                          <div class="text-subtitle-1" style="white-space: pre-line"> 
                            cacacacac
                          </div>
                        </v-card>
                      </v-col>
                    </v-row>

                    <!-- Pregunta del usuario -->
                    <v-row >
                      <v-col cols="12" align="right">
                        <v-card class="mr-6 px-3 pt-3 mt-2" max-width="600" color="#d9fdd3"  style="border-radius: 15px; border-top-right-radius: 0px; color: '##111b21'">
                          <!-- Pregunta del usuario -->
                          <div class="text-subtitle-1" style="white-space: pre-line">
                            gwegwrgwrgwrgwg
                          </div>
                        </v-card>
                      </v-col>
                    </v-row>

                  </span>
                </div>
              </v-card-text>
            </div>
          </v-scroll-y-transition>
        </v-card>
      </v-col>
    </v-row>
  </v-container>      
</template>
<script>
  export default {
    data: () => ({
      skill: 20,
      knowledge: 33,
      knowledge2: 10,
      power: 78,
      respuesta:'',

      chat: false
    }),

    computed: {

      tamanioPantalla () {
        switch (this.$vuetify.breakpoint.name) {
          case 'xs':
            return this.$vuetify.breakpoint.height - 200
          break;
          case 'sm': 
            return this.$vuetify.breakpoint.height - 200
          break;
          case 'md':
            return this.$vuetify.breakpoint.height - 200
          break;
          case 'lg':
            return this.$vuetify.breakpoint.height - 200
          break;
          case 'xl':
            return this.$vuetify.breakpoint.height - 200
          break;
        }
      },
    },


  }
</script>