<template>
  <v-container>
    <v-row>

    	<v-col cols="12" class="align-center">
        <v-row>
          <v-col cols="12" class="d-flex align-end pl-6">
            <v-avatar
              size="50"
              color="primary lighten-3"
              rounded
              class="elevation-0"
            >
              <v-icon color="primary">mdi-video</v-icon>
            </v-avatar>

            <div class="ms-3">
              <p class="text-xs mb-0 text-caption">
                <span class="primary--text"><b>Video Clase</b> </span> 3 min.
              </p>
              <h4 class="text-xl font-weight-semibold">
                Video clase
              </h4>
            </div>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" >
        <div class="ms-3">
          <p class="text-xs mb-0 text-subtitle-1">
            <b>Grammar</b>
          </p>
          <h4 class="text-xs mb-0 text-subtitle-1">
            <b>¡Ahora es el momento de consolidar lo que has aprendido! Un profesor de ABA te explicará la gramática de la unidad y luego practicarás con ejercicios escritos.</b>
          </h4>
        </div>
      </v-col>

      <v-col cols="12">
        <v-card class="elevation-0 transparent">
          <video id="video" 
            src="https://lms.fastenglish.com.mx/recursos/CERTIFICACION/NIVEL1A/Sesion1/Video1.mp4" 
            frameborder="0" 
            allowfullscreen
            controls
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            style="width: 100%; height: 100%; background: #FFFFFF;" allowtransparency="true"
          >
          </video>
        </v-card>
      </v-col>
    </v-row>
  </v-container>      
</template>
<script>
  export default {
    data: () => ({
      skill: 20,
      knowledge: 33,
      knowledge2: 10,
      power: 78,
    }),
  }
</script>