<template>
  <v-container>
    <v-row>
      <v-col cols="12" v-if="!chat">
      	<v-card class="elevation-0">
          <v-card-text>
            <v-progress-linear
              v-model="knowledge"
              height="10"
              rounded
            >
            </v-progress-linear>
          </v-card-text>
        </v-card>
        <v-card class="elevation-0 transparent">
        	<v-card-actions>
        	  <v-spacer></v-spacer>
        		<v-card class="elevation-0" @click="chat = true">
	        	  <v-avatar size="200" >
					      <img
					        src="https://cdn.vuetifyjs.com/images/john.jpg"
					        alt="John"
					        @click="chat = true"
					      >
					    </v-avatar>
        	  </v-card>
        	  <v-spacer></v-spacer>
        	</v-card-actions>

        	<v-card-text class="text-center">
        	  <v-btn color="primary" class="mt-6" large>Patio</v-btn>
        	  <br/>
        	  <v-btn color="primary" class="mt-6" large>House</v-btn>
        	  <br/>
        	  <v-btn color="primary" class="mt-6" large>Kitchen</v-btn>
        	</v-card-text>

        </v-card>
      </v-col>
    </v-row>
  </v-container>      
</template>
<script>
  export default {
    data: () => ({
      skill: 20,
      knowledge: 33,
      knowledge2: 10,
      power: 78,
      respuesta:'',

      chat: false
    }),

    computed: {

      tamanioPantalla () {
        switch (this.$vuetify.breakpoint.name) {
          case 'xs':
            return this.$vuetify.breakpoint.height - 200
          break;
          case 'sm': 
            return this.$vuetify.breakpoint.height - 200
          break;
          case 'md':
            return this.$vuetify.breakpoint.height - 200
          break;
          case 'lg':
            return this.$vuetify.breakpoint.height - 200
          break;
          case 'xl':
            return this.$vuetify.breakpoint.height - 200
          break;
        }
      },
    },


  }
</script>