<template>
	<v-container fill-height>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="elevation-0">
	  			<v-card-title class="pb-0">
	  			  <v-img src="@/assets/fondos/login.svg"/>
	  			</v-card-title>
	  		  <v-card-text class="py-0">
	  		    <v-text-field
	  		      name="name"
	  		      label="label"
	  		      id="id"
	  		      rounded
	  		      filled
	  		      single-line
	  		    ></v-text-field>
	  		    <v-text-field
	  		      name="name"
	  		      label="label"
	  		      id="id"
	  		      rounded
	  		      filled
	  		      single-line
	  		    ></v-text-field>
	  		  </v-card-text>
	  		  <v-card-actions class="py-0">
	  		    <v-switch label="Recordar"></v-switch>
	  		    <v-spacer></v-spacer>
	  		    Recuperar contraseña
	  		  </v-card-actions>
	  		  <v-card-actions class="py-0">
	  		  	<v-spacer></v-spacer>
	  		    <v-btn color="success" block rounded>Log in</v-btn>
	  		  	<v-spacer></v-spacer>
	  		  </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>
	</v-container>
</template>