<template>
	<v-container fill-height>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="elevation-0" v-if="!correoEnviado">
	  			<v-img src="@/assets/fondos/login.svg" width="80%" contain/>
	  		  <v-card-text class="py-0">
	  		    <v-text-field
	  		      name="name"
	  		      label="Ingresa tu correo"
	  		      append-icon="mdi-email"
	  		      id="id"
	  		      rounded
	  		      filled
	  		      single-line
	  		      dense
	  		    ></v-text-field>
	  		  </v-card-text>
	  		  <v-card-actions class="py-0 pl-5">
	  		    Se enviara un codigo a tu bandeja de entrada
	  		  </v-card-actions>
	  		  <v-card-actions class="py-0 px-5">
	  		  	<v-spacer></v-spacer>
	  		    <v-btn color="success" block rounded @click="correoEnviado = true ">Recupear contraseña</v-btn>
	  		  	<v-spacer></v-spacer>
	  		  </v-card-actions>
	  		</v-card>


	  		<v-card class="elevation-0" v-if="correoEnviado">
	  		  <v-card-text class="py-0">
	  		    <div class="ma-auto position-relative" style="max-width: 300px">
				      <v-otp-input
				        v-model="otp"
				        :disabled="loading"
				        @finish="onFinish"
				      ></v-otp-input>
				      <v-overlay absolute :value="loading">
				        <v-progress-circular
				          indeterminate
				          color="primary"
				        ></v-progress-circular>
				      </v-overlay>
				    </div>
				    <div>
				      Expected value: <span class="font-weight-bold">{{ expectedOtp }}</span>
				    </div>
				    <div class="text--caption">Type or copy/paste.</div>
	  		  </v-card-text>
	  		</v-card>
	  	</v-col>
	  </v-row>

	  <v-snackbar
      v-model="snackbar"
      :color="snackbarColor"
      :timeout="2000"
    >
      {{ text }}
    </v-snackbar>
    
	</v-container>
</template>

<script>
  export default {
    data: () => ({
      otp: '',
      length: 7,
      correoEnviado: false,

      loading: false,
      snackbar: false,
      snackbarColor: 'default',
      otp: '',
      text: '',
      expectedOtp: '133707',
    }),
    computed: {
      isActive () {
        return this.otp.length === this.length
      },
    },

    methods: {
      onFinish (rsp) {
        this.loading = true
        setTimeout(() => {
          this.loading = false
          this.snackbarColor = (rsp === this.expectedOtp) ? 'success' : 'warning'
          this.text = `Processed OTP with "${rsp}" (${this.snackbarColor})`
          this.snackbar = true
        }, 3500)
      },
    },
  }
</script>

<style scoped>
 .position-relative {
   position: relative;
 }
</style>