<template>
	<v-container fill-height>
	  <v-row>
	  	<v-col cols="12">
	  		<v-card class="elevation-0">
	  			  <v-img src="@/assets/fondos/login.svg" width="80%" contain/>
	  		  <v-card-text class="py-0">
	  		    <v-text-field
	  		      name="name"
	  		      label="Correo"
	  		      append-icon="mdi-account"
	  		      id="id"
	  		      rounded
	  		      filled
	  		      single-line
	  		      dense
	  		    ></v-text-field>
	  		    <v-text-field
	  		    	append-icon="mdi-lock"
	  		      name="name"
	  		      label="Contraseña"
	  		      id="id"
	  		      rounded
	  		      filled
	  		      single-line
	  		      dense
	  		    ></v-text-field>
	  		    <v-text-field
	  		    	append-icon="mdi-lock"
	  		      name="name"
	  		      label="Confirmar"
	  		      id="id"
	  		      rounded
	  		      filled
	  		      single-line
	  		      dense
	  		    ></v-text-field>
	  		  </v-card-text>
	  		  <v-card-actions class="py-0 pl-5">
	  		    <v-switch label="Recordar"></v-switch>
	  		    <v-spacer></v-spacer>
	  		  </v-card-actions>
	  		  <v-card-actions class="py-0 px-5">
	  		  	<v-spacer></v-spacer>
	  		    <v-btn color="success" block rounded>Sign up</v-btn>
	  		  	<v-spacer></v-spacer>
	  		  </v-card-actions>
	  		  <v-card-actions >
	  		  	<v-spacer></v-spacer>
	  		    <v-btn color="blue" rounded>F</v-btn>
	  		  	<v-spacer></v-spacer>
	  		    <v-btn color="orange" rounded>G</v-btn>
	  		  	<v-spacer></v-spacer>
	  		  </v-card-actions>
	  		</v-card>
	  	</v-col>
	  </v-row>
	</v-container>
</template>