<template>
  <v-container>
    <v-row>

    	<v-col cols="12" class="align-center">
        <div class="ms-3 text-center">
          <p class="text-xs mb-0 text-caption">
            Unidad 25
          </p>
          <h4 class="text-xl font-weight-semibold">
            Cómo hablar de la familia
          </h4>
          <p class="mb-0 text-caption">
            TO HAVE en afirmativo
          </p>
        </div>
      </v-col>

      <v-col cols="12" >
        <div class="ms-3">
          <p class="text-xs mb-0 text-caption">
            <b>Argumento:</b> Helen le cuenta en secreto a Julia un truco que tiene ella y su marido para ganar dinero
          </p>
          <h4 class="text-xs mb-0 text-caption">
            <b>Palabras nuevas:</b> 18
          </h4>
          <p class="text-xs mb-0 text-caption">
            <b>Acento:</b> American
          </p>
        </div>
      </v-col>

      <v-col cols="12">
        <v-card class="elevation-0 transparent">
          <v-row justify="space-around">

            <v-col cols="12" md="6" lg="8" xl="8">
              <v-card>
                <v-card-text>
                  Unidades completadas
                  <v-progress-linear
                    v-model="knowledge"
                    height="15"
                    rounded
                  >
                    <strong>{{ Math.ceil(knowledge) }}%</strong>
                  </v-progress-linear>
                </v-card-text>
                <v-card-text>
                  Clases de repaso
                  <v-progress-linear
                    v-model="knowledge2"
                    height="15"
                    rounded
                    color="yellow"
                  >
                    <strong>{{ Math.ceil(knowledge2) }}%</strong>
                  </v-progress-linear>
                </v-card-text>
              </v-card>

              <!-- VER VIDEO -->
              <v-card class="mt-6 elevation-4" :to="{ name: 'Video' }">
                <v-row>
                  <v-col cols="12" class="d-flex align-end pl-6">
                    <v-avatar
                      size="50"
                      color="primary lighten-3"
                      rounded
                      class="elevation-0"
                    >
                      <v-icon color="primary">mdi-movie-open-outline</v-icon>
                    </v-avatar>

                    <div class="ms-3">
                      <p class="text-xs mb-0 text-caption">
                        <span class="primary--text"><b>Listen</b> </span> 3 min.
                      </p>
                      <h4 class="text-xl font-weight-semibold">
                        ABA Film
                      </h4>
                    </div>

                    <v-btn 
                    	color="primary lighten-3"
                    	absolute 
                    	right
                    	icon
                    	top
                    >
                    	<v-icon>mdi-check-circle</v-icon>
					          </v-btn>
                  </v-col>
                </v-row>
              </v-card>

              <!-- HABLAR -->
              <v-card class="mt-6 elevation-4" :to="{ name: 'Hablar' }">
                <v-row>
                  <v-col cols="12" class="d-flex align-end pl-6">
                    <v-avatar
                      size="50"
                      color="primary lighten-3"
                      rounded
                      class="elevation-0"
                    >
                      <v-icon color="primary">mdi-microphone</v-icon>
                    </v-avatar>

                    <div class="ms-3">
                      <p class="text-xs mb-0 text-caption">
                        <span class="primary--text"><b>Speaking</b> </span> 6 min.
                      </p>
                      <h4 class="text-xl font-weight-semibold">
                        Habla
                      </h4>
                    </div>

                    <v-btn 
                    	color="primary lighten-3"
                    	absolute 
                    	right
                    	icon
                    	top
                    >
                    	<v-icon>mdi-check-circle</v-icon>
					          </v-btn>
                  </v-col>
                </v-row>
              </v-card>

              <!-- ESCRIBIR -->
              <v-card class="mt-6 elevation-4" :to="{ name: 'Escribir' }">
                <v-row>
                  <v-col cols="12" class="d-flex align-end pl-6">
                    <v-avatar
                      size="50"
                      color="primary lighten-3"
                      rounded
                      class="elevation-0"
                    >
                      <v-icon color="primary">mdi-pencil</v-icon>
                    </v-avatar>

                    <div class="ms-3">
                      <p class="text-xs mb-0 text-caption">
                        <span class="primary--text"><b>Writing</b> </span> 10 min.
                      </p>
                      <h4 class="text-xl font-weight-semibold">
                        Escribe
                      </h4>
                    </div>

                    <v-btn 
                    	color="primary lighten-3"
                    	absolute 
                    	right
                    	icon
                    	top
                    >
                    	<v-icon>mdi-check-circle</v-icon>
					          </v-btn>
                  </v-col>
                </v-row>
              </v-card>

              <!-- INTERPRETA -->
							<v-card class="mt-6 elevation-4" :to="{ name: 'Interpreta' }">
                <v-row>
                  <v-col cols="12" class="d-flex align-end pl-6">
                    <v-avatar
                      size="50"
                      color="primary lighten-3"
                      rounded
                      class="elevation-0"
                    >
                      <v-icon color="primary">mdi-message-processing</v-icon>
                    </v-avatar>

                    <div class="ms-3">
                      <p class="text-xs mb-0 text-caption">
                        <span class="primary--text"><b>Speaking</b> </span> 4 min.
                      </p>
                      <h4 class="text-xl font-weight-semibold">
                        Interpreta
                      </h4>
                    </div>

                    <v-btn 
                    	color="primary lighten-3"
                    	absolute 
                    	right
                    	icon
                    	top
                    >
                    	<v-icon>mdi-check-circle</v-icon>
					          </v-btn>
                  </v-col>
                </v-row>
              </v-card>

              <!-- Videoclase -->
              <v-card class="mt-6 elevation-4" :to="{ name: 'Videoclase' }">
                <v-row>
                  <v-col cols="12" class="d-flex align-end pl-6">
                    <v-avatar
                      size="50"
                      color="primary lighten-3"
                      rounded
                      class="elevation-0"
                    >
                      <v-icon color="primary">mdi-video</v-icon>
                    </v-avatar>

                    <div class="ms-3">
                      <p class="text-xs mb-0 text-caption">
                        <span class="primary--text"><b>Grammar</b> </span> 3 min.
                      </p>
                      <h4 class="text-xl font-weight-semibold">
                        Videoclase
                      </h4>
                    </div>

                    <v-btn 
                    	color="primary lighten-3"
                    	absolute 
                    	right
                    	icon
                    	top
                    >
                    	<v-icon>mdi-check-circle</v-icon>
					          </v-btn>
                  </v-col>
                </v-row>
              </v-card>

              <!-- VOCABUKARIO -->
              <v-card class="mt-6 elevation-4" :to="{ name: 'Vocabulario' }">
                <v-row>
                  <v-col cols="12" class="d-flex align-end pl-6">
                    <v-avatar
                      size="50"
                      color="primary lighten-3"
                      rounded
                      class="elevation-0"
                    >
                      <v-icon color="primary">mdi-library</v-icon>
                    </v-avatar>

                    <div class="ms-3">
                      <p class="text-xs mb-0 text-caption">
                        <span class="primary--text"><b>Vocabulary</b> </span> 2 min.
                      </p>
                      <h4 class="text-xl font-weight-semibold">
                        Cómo hablar de la familia
                      </h4>
                    </div>

                    <v-btn 
                    	color="primary lighten-3"
                    	absolute 
                    	right
                    	icon
                    	top
                    >
                    	<v-icon>mdi-check-circle</v-icon>
					          </v-btn>
                  </v-col>
                </v-row>
              </v-card>

              <!-- EVALUACION -->
              <v-card class="mt-6 elevation-4" :to="{ name: 'Evaluacion' }">
                <v-row>
                  <v-col cols="12" class="d-flex align-end pl-6">
                    <v-avatar
                      size="50"
                      color="primary lighten-3"
                      rounded
                      class="elevation-0"
                    >
                      <v-icon color="primary">mdi-clipboard-check-outline</v-icon>
                    </v-avatar>

                    <div class="ms-3">
                      <h4 class="text-xl font-weight-semibold">
                        Evaluación
                      </h4>
                      <p class="text-xs mb-0 text-caption">
                        Haz todos los ejercicios y desbloquea
                      </p>
                    </div>

                    <v-btn 
                    	color="primary lighten-3"
                    	absolute 
                    	right
                    	icon
                    	top
                    >
                    	<v-icon>mdi-lock</v-icon>
					          </v-btn>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>      
</template>
<script>
  export default {
    data: () => ({
      skill: 20,
      knowledge: 33,
      knowledge2: 10,
      power: 78,
    }),
  }
</script>